body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-holder{
    max-width: 20rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    border: 1px solid black;
}

.cell{
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cell:hover{
    cursor: pointer;
    background-color: antiquewhite;
}

.cell-chosen{
    background-color: red;
}

.highlight-cell{
    background-color: gold;
}

.highlight-cell:hover{
    background-color: gold;
}

.cell-chosen:hover{
    background-color: red;
}


#selectIntegersHolder{
    display: grid;
    grid-template-columns:repeat(10, 1fr);
    max-width: 20rem;
    border: 1px solid black;
    background-color: grey;

    display: none;
}

.displayInteger{
    padding: 0.25rem;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight-ap{
    background-color: gold;

    font-weight: bold;
}

#collectedProgressions{
    display: grid;
    grid-template-columns:repeat(10, 1fr);
    max-width: 20rem;
    border: 1px solid black;
    background-color: grey;
}

.new-progression-display{
    padding: 0.25rem;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-progression-display:hover{
    background-color: red;
    cursor: pointer;
}